@model AgricultureUI.Models.UserEditView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Güncelleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Mail Adresi</label>
                    <input type="text" class="form-control" placeholder="Görsel Başlığını Giriniz :" asp-for="Mail">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Telefon Numarası</label>
                    <input type="text" class="form-control" placeholder="Görsel Yolunu Giriniz :" asp-for="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Şifre</label>
                    <input type="text" class="form-control" placeholder="Görsel Yolu Ekleyiniz :" asp-for="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Şifre Tekrar</label>
                    <input type="text" class="form-control" asp-for="ConfirmPassword">
                </div>
                <button type="submit" class="btn btn-outline-success">Güncelle</button>
            </form>
        </div>
    </div>
</div>


